$foreground-1: #fff;
$foreground-2: #dcddde;
$foreground-3: #b9bbbe;
$foreground-effect-1: #72767d;
$foreground-effect-2: #4f545c;
$background-1: #36393f;
$background-2: #2f3136;
$background-3: #202225;
$background-effect-1: #40444b;
$background-effect-2: #292b2f;
$muted: #4f545c;
$dividers: #292b2f;
$purple: #936BFB;
$green: #149E83
